  	body::-webkit-scrollbar { width: 0 !important }
    body,html{
      margin: 0;
      background-image: url("about-img.JPG");
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(0.2px);
      opacity: 90%;
    }
    .bg-dark {
    	background: transparent!important;
    }
    .about{
    	color: #404040;
    	float: right;
    	margin-top: 8%;
    	margin-right: 20%;
    	margin-left: 50%;
    	animation: spin 2s;
    }
    h1{
    	text-align: center;
    	align-content: center;
    	animation: spin 2s;
    }
    .text{
    	text-align: center;
    	align-content: center;
    	/*color: #173936;*/
    	color: #404040;
    	fo
